<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/news.css">
    <title>News</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="home" style="background-color: black;"><a href="./" style="color: white;" class="homeLink">Nautilus Home</a></li>
            </ul>

        </div>
    </div>
</nav>

    <div class="content-wrapper">

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img th:src="${article1[4]} ?: '(no content)'" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 th:text="${article1[1]} ?: '(no content)'" class="news-card__title"></h2>
                <div th:text="${article1[5]} ?: '(no content)'" class="news-card__post-date"></div>
                <div class="news-card__details-wrapper">
                    <p th:text="${article1[2]} ?: '(no content)'" class="news-card__excerpt">&hellip;</p>
                    <a th:href="${article1[3]} ?: '(no content)'" class="news-card__read-more" target="_blank">Read more</a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img th:src="${article2[4]} ?: '(no content)'" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 th:text="${article2[1]} ?: '(no content)'" class="news-card__title"></h2>
                <div th:text="${article2[5]} ?: '(no content)'" class="news-card__post-date"></div>
                <div class="news-card__details-wrapper">
                    <p th:text="${article2[2]} ?: '(no content)'" class="news-card__excerpt">&hellip;</p>
                    <a th:href="${article2[3]} ?: '(no content)'" class="news-card__read-more" target="_blank">Read more</a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img th:src="${article3[4]} ?: '(no content)'" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 th:text="${article3[1]} ?: '(no content)'" class="news-card__title"></h2>
                <div th:text="${article3[5]} ?: '(no content)'" class="news-card__post-date"></div>
                <div class="news-card__details-wrapper">
                    <p th:text="${article3[2]} ?: '(no content)'" class="news-card__excerpt">&hellip;</p>
                    <a th:href="${article3[3]} ?: '(no content)'" class="news-card__read-more" target="_blank">Read more</a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img th:src="${article4[4]} ?: '(no content)'" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 th:text="${article4[1]} ?: '(no content)'" class="news-card__title"></h2>
                <div th:text="${article4[5]} ?: '(no content)'" class="news-card__post-date"></div>
                <div class="news-card__details-wrapper">
                    <p th:text="${article4[2]} ?: '(no content)'" class="news-card__excerpt">&hellip;</p>
                    <a th:href="${article4[3]} ?: '(no content)'" class="news-card__read-more" target="_blank">Read more</a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img th:src="${article5[4]} ?: '(no content)'" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 th:text="${article5[1]} ?: '(no content)'" class="news-card__title"></h2>
                <div th:text="${article5[5]} ?: '(no content)'" class="news-card__post-date"></div>
                <div class="news-card__details-wrapper">
                    <p th:text="${article5[2]} ?: '(no content)'" class="news-card__excerpt">&hellip;</p>
                    <a th:href="${article5[3]} ?: '(no content)'" class="news-card__read-more" target="_blank">Read more</a>
                </div>
            </div>
        </div>

    </div>



</body>
</html>