<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/weather.css">
    <title>News</title>
</head>
<body>
    <div class="col-sm-8 text-left">
        <div class="test">
            <li th:text="${article1[0]}"></li>
            <li th:text="${article1[1]}"></li>
            <li th:text="${article1[2]}"></li>
            <li th:text="${article1[3]}"></li>
            <img th:src="${article1[4]}">
<!--            <li th:text="${article1[4]}"></li>-->
            <li th:text="${article1[5]}"></li>
            <li th:text="${article1[6]}"></li>
        </div>
    </div>

    <div class="col-sm-8 text-left">
        <div class="test">
            <div th:each="article : ${article2}">
                <p th:text="${article}"></p>
            </div>
        </div>
    </div>

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article3}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article4}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article5}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article6}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article7}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article8}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article9}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article10}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article11}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article12}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article13}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article14}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-8 text-left">-->
<!--        <div class="test">-->
<!--            <div th:each="article : ${article15}">-->
<!--                <p th:text="${article}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</body>
</html>