<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/weather.css">
    <title>News</title>
</head>
<body>
    <div class="col-sm-8 text-left">
        <div class="test">
            <li th:text="${article1[0]} ?: '(no content)'"></li>
            <li th:text="${article1[1]} ?: '(no content)'"></li>
            <li th:text="${article1[2]} ?: '(no content)'"></li>
            <li th:text="${article1[3]} ?: '(no content)'"></li>
            <img th:src="${article1[4]} ?: '(no content)'">
            <li th:text="${article1[5]} ?: '(no content)'"></li>
            <li th:text="${article1[6]} ?: '(no content)'"></li>
        </div>
    </div>

    <div class="col-sm-8 text-left">
        <div class="test">
            <li th:text="${article2[0]} ?: '(no content)'"></li>
            <li th:text="${article2[1]} ?: '(no content)'"></li>
            <li th:text="${article2[2]} ?: '(no content)'"></li>
            <li th:text="${article2[3]} ?: '(no content)'"></li>
            <img th:src="${article2[4]} ?: '(no content)'">
            <li th:text="${article2[5]} ?: '(no content)'"></li>
            <li th:text="${article2[6]} ?: '(no content)'"></li>
        </div>
    </div>

    <div class="col-sm-8 text-left">
        <div class="test">
            <li th:text="${article3[0]} ?: '(no content)'"></li>
            <li th:text="${article3[1]} ?: '(no content)'"></li>
            <li th:text="${article3[2]} ?: '(no content)'"></li>
            <li th:text="${article3[3]} ?: '(no content)'"></li>
            <img th:src="${article3[4]} ?: '(no content)'">
            <li th:text="${article3[5]} ?: '(no content)'"></li>
            <li th:text="${article3[6]} ?: '(no content)'"></li>
        </div>
    </div>



</body>
</html>