<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" href="css/weather.css">
</head>
<body>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        max-width: 100%;
    }

    #controls {
        overflow: hidden;
        padding-bottom: 3px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/rangeSelector.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        max-width: 100%;
    }

    #controls {
        overflow: hidden;
        padding-bottom: 3px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/rangeSelector.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->


<!-- HTML -->


<!-- HTML -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="Nautilus.png" alt = "Nautilus" style="width:50px;height:50px;">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
        </div>
        <div class="col-sm-8 text-left">
            <div class="row-content">
                <div class="col-sm-8 text-left">
                    <form action="/stock" method="GET" id="stockForm">
                        <label for="stockField" class="inputText"> Enter the ticker: </label>
                        <input name="ticker" id="stockField" type="text" class="inputField">
                        <script>
                                var ticker = document.getElementById("stockField");
                                //alert(ticker);
                                // Create chart instance
                                var chart = am4core.create("chartdiv", am4charts.XYChart);

                                // Set up data source
                                chart.dataSource.url = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-160/sample_data_serial.json";

                                // Create axes
                                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                                categoryAxis.dataFields.category = "year";

                                // Create value axis
                                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                                // Create series
                                var series1 = chart.series.push(new am4charts.LineSeries());
                                series1.dataFields.valueY = "cars";
                                series1.dataFields.categoryX = "year";
                                series1.name = "Cars";
                                series1.strokeWidth = 3;
                                series1.tensionX = 0.7;
                                series1.bullets.push(new am4charts.CircleBullet());

                                var series2 = chart.series.push(new am4charts.LineSeries());
                                series2.dataFields.valueY = "motorcycles";
                                series2.dataFields.categoryX = "year";
                                series2.name = "Motorcycles";
                                series2.strokeWidth = 3;
                                series2.tensionX = 0.7;
                                series2.bullets.push(new am4charts.CircleBullet());

                                var series3 = chart.series.push(new am4charts.LineSeries());
                                series3.dataFields.valueY = "bicycles";
                                series3.dataFields.categoryX = "year";
                                series3.name = "Bicycles";
                                series3.strokeWidth = 3;
                                series3.tensionX = 0.7;
                                series3.bullets.push(new am4charts.CircleBullet());

                                // Add legend
                                chart.legend = new am4charts.Legend();

                        </script>

                        <ul class="test">
                            <p th:text = "'Ticker: ' + ${ticker}"></p>
                            <p th:text ="'Current Price: ' + ${openStock}"></p>
                            <p th:text ="'Closed Price: ' +${closedStock}"></p>
                            <p th:text ="'Stock Price High: ' +${stockHi}"></p>
                            <p th:text ="'Stock Price Low: ' +${stockLo}"></p>
                            <div id="chartdiv"></div>

                        </ul>
                    </form>
                </div>

        </div>
        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>



</body>
</html>
